body{
    background-color: #E7EAF0;
}

.reg-input{
    width: 80%;
    border: none;
    border-radius: 0.3rem;
    margin-bottom: 1.2rem;
    padding: 0.5rem;
}

.login-reg-logo{
    width: 200px;
    margin-bottom: 3rem;
    margin-top: 2rem;
    position: relative;
    top: 40px;
}

.login-div{
   
    background-color: #F6F8FA;
    border-radius: 1rem;
    width: 350px;
    height: 550px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

    animation-name: pull-down;
    animation-duration: 1s;
}


.login-btn{
    background-color: #2EC1FD;
    font-weight: 600;
    margin-bottom: 1rem;
    width: 35%;
    color: white;
    transition: 0.5s;
}

.redirect{
    text-decoration: none;
    color: #2EC1FD;
    transition: 1s color;
}

.redirection-text{
    position: absolute;
    margin-left: 3.5rem;
    bottom: 3rem;
    animation-name:slide-from-left;
    animation-duration: 2s;
}

.rd-text-reg{
    bottom: 1rem;
}


.dashboard-div{
    /* text-align: center; */
    box-sizing: border-box;
    width: 90%;
    height: 90%;
    border-radius: 1rem;
    background-color: #F6F8FA;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 2rem;
}

.admin-navbar{
    background-color: #F6F8FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.admin-nav-heading{
    font-family: 'Yeseva One'
}

.admin-nav-heading h2{
    margin: 0;
}

.admin-nav-links ul{
    display: flex;
    list-style: none;
    margin: 0;
}

.admin-nav-links li{
    display: block;
    padding: 1rem 1.2rem;
    text-decoration: none;
}

.admin-nav-links li a{
    color: black;
    font-weight: 600;
    text-decoration: none;
    height: 100%;
}


.admin-hamburger{
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: none;
    flex-direction: column;
    width: 30px;
    height: 23px;
    justify-content: space-between;
}

.admin-hamburger span{
    height: 4px;
    width: 100%;
    display: block;
    background-color: black;
}


.admin-dashboard-tickets, .add-flight-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.add-flight-div input{
    width: 75%;
    border-radius: 0.3rem;
    margin-bottom: 1.2rem;
    padding: 0.5rem;
    border-color: #0c9fda;
}


.add-flight-div{
    text-align: center;
}

.add-flight-div select{
    border: none;
    margin: 0.5rem;
    padding: 0.5rem;
}

.admin-dashboard-tickets .ticket{
    width: 400px;
    height: 150px;
    border-radius: 0.8rem 0 0.8rem 0.8rem;
    background-color: white;
    margin: 1rem;
}


.add-flight-div .flight-details{
    width:450px;
    height: 580px;
    background-color: white;
    border-radius: 0.4rem;
}

.flight-details{
    text-align: center;
    padding: 1rem;
}

/* sudo classes */

.login-btn:hover{
    background-color: #2EC1FD;
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
    transition: 0.5s;
}

.reg-input:focus{
    outline: none;
}

.redirect:hover{
    color: #0c9fda;
    transition: 0.5s color;
}

.admin-nav-links li:hover{
    background-color: #484c4ba3;
    cursor: pointer;
    transition: 0.5s background-color;
    border-radius: 0.2rem;
}

.admin-hamburger:hover{
    cursor: pointer;

}

/* media query and key frames */

@keyframes pull-down{
    0%{
        height: 0;
        opacity: 0;
    }
    100%{
        height: 550px;
        opacity: 1;
    }
}


@keyframes slide-from-left{
    0%{
        left: -10000px;
    }
    75%{
        left: 0;
    }
}



@media only screen and (max-width: 800px) {
    .admin-hamburger{
        display: flex;
    }

    .admin-navbar{
        align-items: flex-start;
        flex-direction: column;
    }

    .admin-nav-links{
        display: none;
        text-align: center;
        width: 100%;
    }

    .admin-nav-links ul{
        padding: 0;
        flex-direction: column;
    }

    .admin-nav-links.show{
        display: block;
    }
}