{% extends 'base.html' %}
{% block content %}
<nav class="admin-navbar">
    <div class="admin-nav-heading">
        <h2>Flight Ticket Booking</h2>
    </div>
    <a class="admin-hamburger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </a>
    <div class="admin-nav-links show">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add-flight"> Add Flight</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>
{{super()}}
{% endblock %}