{% extends 'base.html' %}
{% block content %}
<nav class="admin-navbar">
    <div class="admin-nav-heading">
        <h2>Flight Ticket Booking</h2>
    </div>
    <a class="admin-hamburger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </a>
    <div class="admin-nav-links">
        <ul>
            <li><a href="/admin-dashboard">My Booking</a></li>
            <li><a href="{{url_for('search_flight_page')}}" style="background-color: #484c4ba3;opacity: 0.4;border-radius: 0.4rem;">Search Flight</a></li>
            <li ><a href="/book-flight"> Book Flight</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>
<h3 style="text-align: center;margin: 1rem;font-weight: 600;">Search Flight</h3>
<div class="add-flight-div">
    <form action="/search-flight" method="post" novalidate>
        <div class="flight-details search-flight">
            {{data['form'].csrf_token}}
            {{data['form'].source}}
            {% if data['form'].source.errors %}
            <span style="color:red;font-size:15px;margin:0;display: block;">{{data['form'].source.errors[0]}}</span>
            {% endif %}
            {{data['form'].destination}}
            {% if data['form'].destination.errors and not data['form'].source.errors%}
            <span style="color:red;font-size:15px;margin:0;display: block;">{{data['form'].destination.errors[0]}}</span>
            {% endif %}
            <br>
            {{data['form'].month}}
            {% if data['form'].month.errors and not data['form'].source.errors and not data['form'].destination.errors %}
            <span style="color:red;font-size:15px;margin:0;display: block;">{{data['form'].month.errors[0]}}</span>
            {% endif %}
            {{data['form'].day}}
            {% if data['form'].day.errors and not data['form'].source.errors and not data['form'].destination.errors %}
            <span style="color:red;font-size:15px;margin:0;display: block;">{{data['form'].day.errors[0]}}</span>
            {% endif %}
            <br>
            <button class="btn login-btn">Search Flight</button>
        </div>
    </form>
</div>
<h3 style="text-align: center;margin: 1rem;font-weight: 600;">FLIGHTS AVAILABLE</h3>
<div class="admin-dashboard-tickets">
    {% for flight in data['flight_list'] %}
        <div class="ticket">
            <div class="details">
                <div>
                    <p>Fligt number : {{flight.flight_no}}</p>
                    <p>From : {{flight.source}}</p>
                    <p>To : {{flight.destination}}</p>
                    <p>Date : {{flight.day}}/{{flight.month}}/2023</p>
                    
                </div>
                <div>
                    <p>Departure Time : {{flight.hour}}:{{flight.minute}}</p>
                    <p>Total Seats : {{flight.total_seats}}</p>
                    <p>Available Seats : {{flight.total_seats - flight.seats_occupied}}</p>
                </div>
                <div>
                    <form action="/booking-confirmation" method="post">
                        <input type="hidden" value="{{flight.id}}" name="flight-id">
                        <button class="btn btn-success" style="margin-bottom: 1rem;margin-top: 2rem;">Book Flight</button>
                    </form>
                    
                </div>
            </div>
            <div>
                <img src="{{url_for('static',filename='assets/logo.png')}}" alt="" class="ticket-img">
            </div>
        </div>
    {% endfor %}
    
</div>
<script src="{{url_for('static',filename='index.js')}}"></script>
{{super()}}
{% endblock %}